# We want to ignore some rather large raw data files, so we'll make a special directory just for them.

# raw data files
00_Data/raw_data/*

# geodata files
00_Data/geodata/*

# test maps that get generated
03_geocoding/map*

# We also want to ignore the chromedriver.exe file.
chromedriver.exe

# Ignore any jupyter notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore anything with "DEADEND" in the name
*DEADEND*